@import "~antd/dist/antd.css";

// styled vs scss

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  min-height: 100vh;
  background: #fff;
  padding: 2rem;
}

.content.chat {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-history{
  height: 80vh;
  width: 90vw;
  background-color: rgb(218, 216, 216);
  border-radius: 25px;
  overflow-y: auto;
  padding: 1rem;
}

.message{
  overflow-wrap: anywhere;
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.message.self{
  background-color: rgb(136, 205, 252);
}

.layout{
  display: flex;
  min-height: 100vh;
  padding: 24px;
}
